In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('E:/Capstone_ICR_Project/Dataset/State_wise_Data_final/Illinois_10_years_data.csv')

In [3]:
df.head()

,Year,Quarter,Month,Day_of_Month,Day_of_Week,Operating_Carrier_Code,Tail_Number,Origin_Airport_ID,Origin_Airport_Code,Origin_State_Name,...,Wind_Direction_Degrees,Wind_Speed_Knots,Hourly_Precipitation_Inches,Pressure_Altimeter_Inches,Sea_Level_Pressure_Millibar,Visibility_Miles,Sky_Cover_Level_1,Sky_Level_1_Altitude_Feet,Apparent_Temperature_Fahrenheit,Target
0,2014,2,4,1.0,2.0,AA,N359AA,13930.0,ORD,Illinois,...,260.0,15.0,0.0,30.0,1014.2,10.0,SCT,22000.0,40.28,0.0
1,2014,2,4,1.0,2.0,AA,N3ADAA,13930.0,ORD,Illinois,...,260.0,24.0,0.0,30.0,1008.9,10.0,SCT,2800.0,20.44,0.0
2,2014,2,4,1.0,2.0,AA,N3AKAA,13930.0,ORD,Illinois,...,220.0,15.0,0.0,30.0,1004.2,10.0,SCT,4300.0,55.04,0.0
3,2014,2,4,1.0,2.0,AA,N3AKAA,13930.0,ORD,Illinois,...,250.0,20.0,0.0,30.0,1011.5,10.0,OVC,2600.0,21.74,0.0
4,2014,2,4,1.0,2.0,AA,N3ANAA,13930.0,ORD,Illinois,...,220.0,15.0,0.0,30.0,1004.2,10.0,CLR,4700.0,55.26,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2969937 entries, 0 to 2969936
Data columns (total 31 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Year                              int64
 1   Quarter                           int64
 2   Month                             int64
 3   Day_of_Month                      float64
 4   Day_of_Week                       float64
 5   Operating_Carrier_Code            object
 6   Tail_Number                       object
 7   Origin_Airport_ID                 float64
 8   Origin_Airport_Code               object
 9   Origin_State_Name                 object
 10  Destination_Airport_Code          object
 11  Destination_State_Name            object
 12  Scheduled_Departure_Time          float64
 13  Departure_Delay_Minutes           float64
 14  Taxi_Out_Time_Minutes             float64
 15  Flight_Distance_Miles             float64
 16  Departure_Datetime                object
 17  Scheduled_Departure_Time_Minutes  float64
 18  Air_Temperature_Fahrenheit        float64
 19  Dew_Point_Temperature_Fahrenheit  float64
 20  Relative_Humidity_Percent         float64
 21  Wind_Direction_Degrees            float64
 22  Wind_Speed_Knots                  float64
 23  Hourly_Precipitation_Inches       float64
 24  Pressure_Altimeter_Inches         float64
 25  Sea_Level_Pressure_Millibar       float64
 26  Visibility_Miles                  float64
 27  Sky_Cover_Level_1                 object
 28  Sky_Level_1_Altitude_Feet         float64
 29  Apparent_Temperature_Fahrenheit   float64
 30  Target                            float64
dtypes: float64(20), int64(3), object(8)
memory usage: 702.4+ MB

In [5]:
df.isna().sum()

Year                                0
Quarter                             0
Month                               0
Day_of_Month                        0
Day_of_Week                         0
Operating_Carrier_Code              0
Tail_Number                         0
Origin_Airport_ID                   0
Origin_Airport_Code                 0
Origin_State_Name                   0
Destination_Airport_Code            0
Destination_State_Name              0
Scheduled_Departure_Time            0
Departure_Delay_Minutes             0
Taxi_Out_Time_Minutes               0
Flight_Distance_Miles               0
Departure_Datetime                  0
Scheduled_Departure_Time_Minutes    0
Air_Temperature_Fahrenheit          0
Dew_Point_Temperature_Fahrenheit    0
Relative_Humidity_Percent           0
Wind_Direction_Degrees              0
Wind_Speed_Knots                    0
Hourly_Precipitation_Inches         0
Pressure_Altimeter_Inches           0
Sea_Level_Pressure_Millibar         0
Visibility_Miles                    0
Sky_Cover_Level_1                   0
Sky_Level_1_Altitude_Feet           0
Apparent_Temperature_Fahrenheit     0
Target                              0
dtype: int64

In [6]:
# Convert integer features to int32
int_columns = [
    'Year', 
    'Quarter', 
    'Month', 
    'Day_of_Month', 
    'Day_of_Week', 
    'Scheduled_Departure_Time', 
    'Scheduled_Departure_Time_Minutes',
    'Target'
]

for col in int_columns:
    df[col] = df[col].astype(np.int32)

# Convert continuous numeric features to float32
float_columns = [
    'Departure_Delay_Minutes',
    'Taxi_Out_Time_Minutes',
    'Flight_Distance_Miles',
    'Air_Temperature_Fahrenheit',
    'Dew_Point_Temperature_Fahrenheit',
    'Relative_Humidity_Percent',
    'Wind_Direction_Degrees',
    'Wind_Speed_Knots',
    'Hourly_Precipitation_Inches',
    'Pressure_Altimeter_Inches',
    'Sea_Level_Pressure_Millibar',
    'Visibility_Miles',
    'Sky_Level_1_Altitude_Feet',
    'Apparent_Temperature_Fahrenheit',
    
]

for col in float_columns:
    df[col] = df[col].astype(np.float32)

# Convert categorical features to 'category' dtype
categorical_columns = [
    'Operating_Carrier_Code',
    'Tail_Number',
    'Origin_Airport_ID',
    'Origin_Airport_Code',
    'Origin_State_Name',
    'Destination_Airport_Code',
    'Destination_State_Name',
    'Sky_Cover_Level_1'
]

for col in categorical_columns:
    df[col] = df[col].astype('category')

In [7]:
df = df.drop([ 'Origin_State_Name','Departure_Datetime','Departure_Delay_Minutes'], axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2969937 entries, 0 to 2969936
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Year                              int32
 1   Quarter                           int32
 2   Month                             int32
 3   Day_of_Month                      int32
 4   Day_of_Week                       int32
 5   Operating_Carrier_Code            category
 6   Tail_Number                       category
 7   Origin_Airport_ID                 category
 8   Origin_Airport_Code               category
 9   Destination_Airport_Code          category
 10  Destination_State_Name            category
 11  Scheduled_Departure_Time          int32
 12  Taxi_Out_Time_Minutes             float32
 13  Flight_Distance_Miles             float32
 14  Scheduled_Departure_Time_Minutes  int32
 15  Air_Temperature_Fahrenheit        float32
 16  Dew_Point_Temperature_Fahrenheit  float32
 17  Relative_Humidity_Percent         float32
 18  Wind_Direction_Degrees            float32
 19  Wind_Speed_Knots                  float32
 20  Hourly_Precipitation_Inches       float32
 21  Pressure_Altimeter_Inches         float32
 22  Sea_Level_Pressure_Millibar       float32
 23  Visibility_Miles                  float32
 24  Sky_Cover_Level_1                 category
 25  Sky_Level_1_Altitude_Feet         float32
 26  Apparent_Temperature_Fahrenheit   float32
 27  Target                            int32
dtypes: category(7), float32(13), int32(8)
memory usage: 263.7 MB

In [9]:
df['Year'].value_counts()

Year
2019    426951
2020    420073
2015    395345
2014    362592
2017    301209
2023    300540
2016    292813
2021    254563
2018    166021
2024     25193
2022     24637
Name: count, dtype: int64

In [10]:
df1= df[df['Month'] == 1]

In [11]:
# Define the years for each dataset
train_years = [2014, 2015, 2016, 2017, 2018, 2019]
val_years = [2020, 2021, 2022]
test_years = [2023, 2024]

# Ensure the 'Year' column is of integer type
df1['Year'] = df1['Year'].astype(int)

# Create the training set
train_df = df1[df1['Year'].isin(train_years)].reset_index(drop=True)

# Create the validation set
val_df = df1[df1['Year'].isin(val_years)].reset_index(drop=True)

# Create the test set
test_df = df1[df1['Year'].isin(test_years)].reset_index(drop=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_508\2125162217.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Year'] = df1['Year'].astype(int)

In [12]:
train_df['Year'].value_counts()

Year
2018    32116
2019    30290
2015    30099
2017    25477
2016    25412
2014    15129
Name: count, dtype: int64